# Configurações de Conexão com o Banco de Dados Firebird em Rede (Alias Oficial)
FIREBIRD_HOST=192.168.1.10
FIREBIRD_PORT=3050
FIREBIRD_DATABASE=MEZZOLD_DB
FIREBIRD_ALIAS_AUX=AliasCEP
FIREBIRD_USER=SYSDBA
FIREBIRD_PASSWORD=masterkey
FIREBIRD_POOL_SIZE=10

# Chave secreta JWT para autenticação de usuários
JWT_SECRET=mezzold_secret_jwt_key_2026_firebird_prod
